html {
  height: 100vh;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: yellow;
}

input,
select {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

body {
  background-image: url("assets/images/bg-space.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: 1px 1px grey;
}

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-shadow: 1px 1px grey;
}

h1,
h2,
p {
  text-align: center;
  color: yellow;
}

p {
  font-size: 1.5rem;
}

input::placeholder {
  color: #bfd2ff !important;
}

.Input,
.Select,
.Button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px !important;
}

.Input,
.Select {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
}

.Input:after,
.Select:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.Input input,
.Select select {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}

.Input input::-webkit-input-placeholder,
.Select select::-webkit-input-placeholder {
  color: #7881a1;
}

option {
  color: black;
}

.Button-Yellow {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, yellow 5%, #ffab23 100%);
  background-color: yellow;
  border-radius: 2px;
  border: 1px solid #ffaa22;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.Button-Yellow:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.Button-Yellow:active {
  position: relative;
  top: 1px;
}

.Button-Red {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, red 5%, #ff4c4c 100%);
  background-color: red;
  border-radius: 2px;
  border: 1px solid #ffaa22;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  padding: 8px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.Button-Red:hover {
  background: linear-gradient(to bottom, #ff4c4c 5%, red 100%);
  background-color: #ff4c4c;
}

.Button-Red:active {
  position: relative;
  top: 1px;
}

.bold {
  font-weight: bold;
  font-size: 3rem;
}

.bold-desc {
  font-weight: bold;
  font-size: 2rem;
}

.red {
  color: red;
}

.Buttons {
  display: flex;
  justify-content: center;
}

.Button-Disconnect {
  margin-left: 4px;
}
